[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "vim/bundle/vim-stylus"]
	path = vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/vim-coffeescript"]
	path = vim/bundle/vim-coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/jquery.vim"]
	path = vim/bundle/jquery.vim
	url = https://github.com/nono/jquery.vim 
[submodule "vim/scroloose/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/majutsushu/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar 
[submodule "vim/tomtom/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim 
[submodule "vim/altercation/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solaried
	url = https://github.com/altercation/vim-colors-solarized 
[submodule "vim/Lokaltog/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion 
[submodule "vim/tpope/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive 
[submodule "vim/Lokaltog/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline 
[submodule "vim/derekwyatt/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala 
[submodule "vim/tsaleh/vim-supertab"]
	path = vim/bundle/vim-supertab
	url = https://github.com/tsaleh/vim-supertab
[submodule "vim/tpope/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/lukaszb/vim-web-indent"]
	path = vim/bundle/vim-web-indent
	url = https://github.com/lukaszb/vim-web-indent
[submodule "vim/mattn/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim
[submodule "vim/mattn/JSON.vim"]
	path = vim/bundle/JSON.vim
	url = https://github.com/vim-scripts/JSON.vim
[submodule "vim/kien/ctrlp.vim"]
	path = vim/bundle/ctrp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/bundle/haskellmode-vim"]
	path = vim/bundle/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim
