snippet class
	class ${1} {
		${2}
	}
snippet object
	object ${1} {
		${2}
	}
snippet main
	def main(args: Array[String]) = {
		${1}
	}
snippet pr
	println(${1})
snippet def
	def ${1}(${2})${3} = {
		${4}
	}
snippet if
	if (${1}) ${2}
snippet for
	for(${1} <- ${2}) {
		${3}
	}
snippet wh
	while (${1}){
		${2}
	}
	
